<div class="container">
  <div class="col-md-6">
    <h1>Search user </h1>
    <div class="form-group">
      <label for="name">User Name:</label>
      <input type="text" class="form-control" id="name" [(ngModel)]="userName" name="name" #name="ngModel" required>
      <div [hidden]="name.valid || name.prestine" class="alert alert-danger">
        <p>Username is required!!</p>
      </div>

    </div>
    <button type="Submit" class="btn btn-success btn-lg" (click)=showUser() [disabled]="userName==''">SEARCH</button>


  </div>

</div>
